.box
{
    text-align: center;
    width: fit-content;
    margin-left: 2rem;
    background-color: rgb(249, 116, 222);
    color: antiquewhite;
    border: 1px solid rgb(249, 116, 222);
    box-shadow:  4px 6px rgb(255, 255, 255);
    padding: 4rem;
   
}
.box1
{
    text-align: center;
    width: fit-content;
    margin-left: 2rem;
    background-color: rgb(248, 97, 97);
    color: antiquewhite;
    border: 1px solid rgb(248, 97, 97);
    box-shadow:  4px 6px rgb(255, 255, 255);
    padding: 4rem;
}
.box2
{
    text-align: center;
    width: fit-content;
    margin-left: 2rem;
    background-color: rgb(65, 78, 255);
    color: antiquewhite;
    border: 1px solid rgb(65, 78, 255);
    box-shadow:  4px 6px rgb(255, 255, 255);
    padding: 4rem;
}
.box3
{
    text-align: center;
    width: fit-content;
    margin-left: 2rem;
    background-color: rgb(48, 189, 92);
    color: antiquewhite;
    border: 1px solid rgb(48, 189, 92);
    box-shadow:  4px 6px rgb(255, 255, 255);
    padding: 4rem;
}
body
{
    text-align: center;
    width: fit-content;
    display: flex; 
    color: bisque;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
}
*
{
    margin: 0;
    padding: 0;
}